<div ng-init="ClientCtrl.getClients()">
  <div class="pull-right">
    <a ui-sref="clients.new" class="btn btn-info">New Client</a>
  </div>

  <table class="table">
    <thead>
    <tr>
      <td>Name</td>
      <td>Type</td>
      <td>Actions</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="client in ClientCtrl.clients">
      <td>{{ client.name }}</td>
      <td>{{ client.client_type.replace('_', ' ') }}</td>
      <td>
        <button type="button" class="btn btn-danger" ng-click="ClientCtrl.remove(client.id, $index)">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
