<div ng-init="MediaCtrl.initialize()">
  <div class="pull-right">
    <a ui-sref="media.new" class="btn btn-info">Upload New Media</a>
  </div>

  <table class="table">
    <thead>
    <tr>
      <td>Name</td>
      <td>Company</td>
      <td>Director</td>
      <td>Type</td>
      <td>Actions</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="media in MediaCtrl.media">
      <td>{{ media.name }}</td>
      <td>{{ media.company }}</td>
      <td>{{ media.director }}</td>
      <td>{{ media.media_type.replace('_', ' ') }}</td>
      <td>
        <button type="button" class="btn btn-danger" ng-click="MediaCtrl.remove(media.id, $index)">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
